@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import "https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;600;700&family=Signika+Negative:wght@400;600;700&family=Source+Code+Pro:wght@400;700&display=swap";

html {
    font-size: 18px;
}

body {
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.75) 0%, rgba(50, 50, 50, 0.75) 100%), url("images/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #000;
    background-position: center;
    height: 100vh;
    margin: 0;
    font-family: 'Exo 2', sans-serif;
    font-weight: 600;
    display:flex;
    justify-content: center;
  align-items: center;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 600,
  'GRAD' 0,
  'opsz' 48
}

.logo {
        margin: auto;
        display:block;
        width:100%;
        max-width: 50rem;
        border-radius: .5rem;
        box-shadow: rgb(0, 0, 0, 0.5) 0px 3px 4px;
}

header {
    padding: 0 0.8rem;
    max-width: 50rem;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    margin: 0;
    max-width: 50rem;
    flex-wrap: wrap;
    gap:0.5rem;
}

nav a {
    display:flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    gap:0.5rem;
    color:white;
    text-decoration: none;
    fill:white;
    padding: 1rem 0;
    width: 9.5rem;
}

.navhead{
    display:flex;
    color:white;
    padding:.8rem 0;
    text-align:center;
    align-items: center;
    overflow:hidden;
    font-size: 1.1rem;
    text-transform:uppercase;

}

.navhead:before, .navhead:after {
    content:'';
    width:100%;
    height: 0;
    margin: 0.5rem;
    border-bottom:lightgray solid 2px;
    display:inline-block;
    vertical-align:middle;
}
.navhead:before {
  right: 100%;
  -webkit-mask-image: -webkit-linear-gradient(left, transparent 10%, white);
}
.navhead:after {
  left: 100%;
  -webkit-mask-image: -webkit-linear-gradient(right, transparent 10%, white);
}

nav li {
    display:block;
    background-color:#182033;
    transition: .1s ease-in;
    border-radius: .2rem;
    box-shadow: rgb(0, 0, 0, 0.3) 0px 3px 4px;
}



nav li:hover {
    background-color:#202e4f;
    transition: .2s ease-out;
    transform: translatey(-.2rem);
}

.follow-teaser {
    display: none;
}
